<% extend('layout') %>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="goToUrl('/games')">Go to games menu</button>
    <button onclick="goToUrl('/eskulap')">Go to eskulap menu</button>
</body>