<% extend('eskulap_layout') %>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<button onclick="goToUrl()">Go to main menu</button>
<button onclick="goToEskulapUrl('/rejestracja')">Zarejestruj wizytę</button>

</body>